.single-counter {
     margin-bottom: 3rem;
     box-shadow: 0 3px 20px 0px rgba(0, 0, 0, .12);
     border-radius: 1.5rem;
     padding: 3rem;
     background: var(--whtie);
     transition: $transition;
     text-align: center;
     &:hover {
          transform: translateY(-10px);
          box-shadow: 0 1rem 3rem rgba(31,45,61,.125);
          .counter-icon {
               border-radius: 28% 80% 45% 90% / 53% 70% 90% 47%   ;
          }
     }
     .counter-icon {
          margin: 0 auto;
          margin-bottom: 2.5rem;
          width: 8rem;
          height: 8rem;
          line-height: 8rem;
          text-align: center;
          border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
          background-image: linear-gradient(to right top, #009bde, #0092d4, #0189ca, #0081c1, #0078b7);
          transition: $transition;
          font-size: 2.5rem;
          color: var(--white);
     }
     .counter{
          margin-bottom: 2rem;
          font-family: $titlefont;
          font-size: 3.2rem;
          text-transform: capitalize;
          font-weight: 700;
          color: var(--primary-color);
     }
     .counter-name {
          margin: 0;
          font-size: 1.8rem;
          font-weight: 600;
          text-transform: capitalize;
          color: #707070;
     }
}
.about-page .counter-area {
     background: #fafafa;
}
@media (min-width: 992px) and (max-width: 1200px) {
     .single-counter .counter-name {
          font-size: 1.6rem;
     }
}
